$white-color: rgba(255, 255, 255, 1);
$light-white-color: rgba(255, 255, 255, 0.6);
$ten-white-color: rgba(255, 255, 255, 0.1);
$thirty-white-color: rgba(255, 255, 255, 0.3);
$white-color-245: rgba(245, 245, 245, 1);
$light-green: rgba(139, 225, 73, 1);
$black-color: rgba(14, 14, 14, 1);
$dark-gray-color: rgba(26, 26, 26, 1);
$gray-color: rgba(58, 58, 58, 1);
