@import "../styles/_variables";

.advantages {
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-down {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-dark-gray {
    cursor: pointer;
    width: 300px;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $dark-gray-color;
    background-color: 2px solid $dark-gray-color;

    &-image {
      width: 60px;
      height: 60px;
      margin-bottom: 40px;
    }

    &-title {
      color: $white-color;
      margin-bottom: 20px;
    }

    &-text {
      color: $light-white-color;
      margin-bottom: 66px;
    }

    &-button {
      display: inline-flex;
      background-color: $black-color;
      padding: 17px 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      gap: 5px;
      border-radius: 30px;
      outline: none;
      color: white;
      border: 1px solid $black-color;
      flex: 0 0 auto;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -2%;
      text-align: center;
    }

    &-button::after {
      content: "";
      width: 9px;
      margin-top: 2px;
      height: 9px;
      display: block;
      background-image: url('../static/arrow-45.svg');
    }
  }

  &-non-bg {
    cursor: pointer;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid rgb(255, 255, 255, 0.1);

    &-image {
      width: 60px;
      height: 60px;
      margin-bottom: 40px;
    }

    &-title {
      color: $white-color;
      margin-bottom: 20px;
    }

    &-text {
      color: $light-white-color;
      margin-bottom: 66px;
    }

    &-button {
      display: inline-flex;
      background-color: transparent;
      padding: 17px 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      gap: 5px;
      border-radius: 30px;
      outline: none;
      color: white;
      border: 1px solid $ten-white-color;
      flex: 0 0 auto;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -2%;
      text-align: center;
    }

    &-button::after {
      content: "";
      width: 9px;
      height: 9px;
      align-items: center;
      text-align: center;
      display: block;
      margin-top: 2px;
      background-image: url('../static/arrow-45.svg');
    }
  }

  &-bg-title {
    position: absolute;
    z-index: -5;
    left: 50%;
    transform: translate(-50%);
    top: 210px;
    color: $light-green;
    font-weight: 600;
    font-size: 128px;
    line-height: 120%;
    letter-spacing: -5%;
  }
}
