@import './variables';

.decisions-section {
  position: relative;
  width: 100%;
  color: $white-color;
}

.decisions-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  overflow: hidden;
}

.decisions-subtitle {
  max-width: 360px;
  font-size: 16px;
  line-height: 150%;
  color: $light-white-color;
}

.decisions-viewport {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.decisions-track {
  display: flex;
  will-change: transform;
}

.decisions-card {
  flex: 0 0 70vw;
  background: #1a1a1a;
  border-radius: 24px;
  padding: 32px;
  padding: 80px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
}

.decisions-card:first-child {
  flex-basis: 100%;
}

.decisions-card-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.decisions-card-body h3 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 68px;
  line-height: 111.00000000000001%;
  letter-spacing: -3%;
  white-space: pre-wrap;
  max-width: 858px;
  text-transform: uppercase;

  span {
    color: #8be149;
  }
}

.decisions-card-body p {
  font-family: Manrope;
  white-space: pre-wrap;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  width: 320px;
  line-height: 120%;
  letter-spacing: -2%;
}

.decisions-card-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.decisions-card-footer__info {
  display: flex;
  flex-direction: column;
  max-width: 180px;

  & span {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -2%;
  }

  & span:last-child {
    opacity: 0.6;
  }
}

.decisions-card-footer__dots {
  display: flex;
  flex-direction: row;
  align-items: center;

  & .dot {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 30px;
    line-height: 111.00000000000001%;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: #8be149;
    padding: 44px;
    border-radius: 100%;
    border: 1px solid #8be149;

    &.active {
      background-color: #8be149;
      color: #474747;
    }
  }

  .block-line-dot {
    width: 263px;
    background-color: rgb(139, 225, 73, 0.2);
    height: 1px;
    overflow: hidden;
  }

  .line-dot {
    height: 1px;
    width: 0;
    position: relative;
    border: none;
    background-color: #8be149;
    z-index: 1000;
    opacity: 1;
    transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
