@import "./variables";

.difference {
  margin-bottom: 145px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 54px;

    & h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 68px;
      line-height: 100%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $white-color;
    }

    & p {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: $light-white-color;
    }
  }

  &-faces {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;

    &__left-face {
      position: relative;
      transform: translateX(200px);
      z-index: -1;

      & p {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        left: 50%;
        color: $white-color;
        font-style: normal;
        font-weight: 600;
        font-size: 68px;
        line-height: 120%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
      }
    }

    &__front-face {
      position: relative;

      & p {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        left: 70%;
        color: $white-color;
        white-space: nowrap;
        font-style: normal;
        font-weight: 600;
        font-size: 68px;
        line-height: 120%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
      }
    }

    &__right-face {
      transform: translateX(-200px);
      z-index: -1;
    }
  }

  &-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 68px;
      line-height: 120%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $light-green;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: $light-white-color;
    }
  }
}
