@import "../styles/_variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  box-sizing: border-box;
}

.container {
  padding: 30px 65px;
}

body {
  background-color: $black-color;
}

@import url("../styles/start-screen.scss");
@import url("../styles/header.scss");
@import url("../styles/advantages.scss");
@import url('../styles/difference.scss');
