@import "./variables";

.start-screen {
  color: $white-color;
  margin-top: 119px;
  position: relative;
  margin-bottom: 240px;

  &-title {
    font-weight: 500;
    font-style: Medium;
    font-size: 128px;
    line-height: 120%;
    text-align: center;
    margin-left: 119px;
    letter-spacing: -2%;
    margin-right: 410px;
    text-transform: uppercase;

    &-span {
      margin-left: 355px;
      color: $light-green;
    }
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    width: 429px;
    line-height: 130%;
    letter-spacing: -2%;
    margin: 0 221px 0 auto;
  }

  &-bubble {
    width: 502px;
    position: absolute;
    right: 270px;
    top: -70px;
  }
}

@keyframes fadeInLetter {
  to {
    opacity: 1;
  }
}
